<div class="course">
  <h1 class="course__title">{{course.title}}</h1>
  <img class="course__img" src="{{course.img}}" alt="{{course.title}}">
  <p class="course__price price big">{{course.price}}</p>
</div>